{% for key,value in env_vars.items() %}
set -xg {{ key }} {{ value }}
{% endfor %}

if status --is-interactive
{% for key,value in command_abbreviations.items() %}
  abbr --add --global {{ key }} '{{ value }}'
{% endfor %}
end

if type -q starship
  starship init fish | source
end

if test -e .fishrc
  source .fishrc
end

if type -q direnv
  eval (direnv hook fish)
end
