[automount]
enabled = {{ wsl_config.automount.enabled }}
options = {{ wsl_config.automount.options }}

[interop]
enabled = {{ wsl_config.interop.enabled }}
appendWindowsPath = {{ wsl_config.interop.append_windows_path }}

[user]
default = "{{ wsl_config.user }}"
